.bottom-navigation {
    @include layout;

    .control {
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .button {
        @include button;
        max-width: 300px;
        margin: 0 14px;
        
    }

    @media (max-width: $mobile) {
        position: fixed;
        background: white;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .control {
            margin: 20px 0;
        }
    }
}