.pdf {
    display: flex;
    grid-gap: 30px;

    @media (max-width: $mobile) {
        flex-wrap: wrap;
    }


    .button {
        @include button;
        max-width: 180px;
        margin: 0px;
        text-align: center;
        
    }

    .message {
        flex: 1 0 30%;
        font-size: 14px;
        background: #f9f5f0;
        padding: 30px;

        @media (max-width: $mobile) {
            flex: 1 0 100%;
        }

        img {
            max-width: 100%;
            border-radius: 10px;
        }
    }
    iframe {
        flex: 1 0 60%;
        width: 100%;
        min-height: 600px;
        border: 0;


        @media (max-width: $mobile) {
            flex: 1 0 100%;
        }
    }
}