.pdf {

    .elements {
        display: flex;
        grid-gap: 30px;
        margin-bottom: 60px;
    
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
    }
 


    .button {
        @include button;
        max-width: 180px;
        margin: 0px;
        text-align: center;
       
    }

    .message {
        flex: 1 0 30%;
        font-size: 14px;
        background: #f9f5f0;
        padding: 30px;

        @media (max-width: $mobile) {
            flex: 1 0 100%;
        }

        img {
            max-width: 100%;
            border-radius: 10px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                max-height: 20px;
                margin-right: 5px;
                width: auto;
                filter: invert(1);
            }
        }
    }
    iframe {
        flex: 1 0 60%;
        width: 100%;
        min-height: 600px;
        border: 0;


        @media (max-width: $mobile) {
            flex: 1 0 100%;
        }
    }

 
}


.popup-content {
    @media (max-width: $mobile) {
        width: 100%;
    }
}


.modl {
    min-height: 40vh;
    padding: 30px;


    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 32px;
        z-index: 22;
        line-height: 12px;
    }

    .dates {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        column-gap: 20px;


        .rw-date-picker {
            width: 40%;
            margin-bottom: 20px;
        } 

        .rw-time-input {
            max-height: 40px;
        }
    }


    .button {
        @include button;
        max-width: 280px;
        margin: 0px;
        text-align: center;
        display: inline-block;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-height: 42px;
        margin-top: 20px;

        @media (max-width: $mobile) {
            font-size: 13px;
        }

        img {
            max-height: 20px;
            margin-right: 5px;
            width: auto;
            filter: invert(1);
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
    }

    p {
        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;

            img {
                max-height: 20px;
                width: auto;
                margin-right: 6px;
            }
        }
    }
}

.popup-overlay {
    background: rgba(0,0,0,.8);
}


.pdf-viewer {
    display: flex;
    flex-wrap: wrap;

    .ui {
        display: block;
        width: 100%; 
        padding: 20px;
        textarea {
            width: 100%;
            min-height: 100px;
        }
    }
    .pdf-window {
        display: block;
        width: 100%;
    }
}

.pdf-window {
    flex: 1 0 70%;
    display: block;
    @media (max-width: $mobile) {
        display: none;
    }
}

.pdf-download {
    margin-bottom: 30px;

    @media (max-width: $mobile)
     {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }

    @media all and (device-width: 1024px){
        display: block;
        width: 100%;
        text-align: center;
    }

    @media all and (device-width: 768px) {
        display: block;
        width: 100%;
        text-align: center;
    }


    

    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    img {
        max-height: 50px;
        border-radius: 6px;
        margin-right: 20px;
    }
}