.questions {

    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 30px;

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }

    .side {
        display: flex;
        align-content: center;
        align-items: center;

        .label {
            color: #e0ddd8;
            transform: rotate(-90deg);
            font-weight: bold;
            font-size: 32px;
            text-transform: uppercase;


            @media (max-width: $mobile) {
                transform: rotate(0deg);
            }
        }
    }

    .inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 60px;

        @media (max-width: $mobile) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: $mobilexs) {
            grid-template-columns: 1fr;
        }
    }

    &.five .inner {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   

        @media (max-width: $mobile) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: $mobilexs) {
            grid-template-columns: 1fr;
        }
    }

    &.six .inner {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;   

        @media (max-width: $mobile) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: $mobilexs) {
            grid-template-columns: 1fr;
        }
    }


    .question {
        display: inline-block;
        margin-bottom: 0px;
       
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;

        &:hover {
            opacity: 0.75;
            
        }

        &.selected {
            background: #1a8992;
            color: white;

            &:hover {
                opacity: 1;
            }
        }

        .image {
            width: 100%;
            position: relative;
            min-height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;

            img {
                max-width: 100%;
                border-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

            }

            .title-holder {
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                width: 100%;

                h4 {
                    background: white;
                    display: inline-block;
                    font-size: 14px;
                    padding: 3px 8px;
                    border-radius: 4px;
                    font-weight: 600;
                }
            }
        }

        & > img {
            max-width: 100%;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        h4 {
            margin: 0;
            padding: 2px 6px;
            font-weight: 500;
            position: absolute;
            background: #fff;
            border-radius: 4px;
            top: 6px;
            left: 6px;
            font-weight: 600;
            font-size: 14px;

        }

        .mark {
            position: absolute;
            top: 0;
            right: 0;
            background: white;
            padding: 5px;
            border-bottom-left-radius: 10px;
            z-index: 6;
            display: none;
            
            img {
                height: 26px;
                background: white;
                border-bottom-left-radius: 10px;
            }
        }

        .subitems {
            width: 100%;
            font-size: 12px;
            display: none;
            padding: 0;

            &.active {
                display: block;
            }
        }

        .selectedroom {
            position: absolute;
            top: 35px;
            left: 6px;
            background: #fff;
            padding: 3px;
            z-index: 2;
            border-radius: 4px;
            font-size: 10px;
        }


        &.sqmselect {
            cursor: default;
            position: relative;

            .roomselector {
                display: none;
                background: white;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                border-radius: 10px;
                text-align: center;
                font-size: 13px;
                padding: 20px;

                .title {
                    margin-bottom: 10px;
                    font-size: 13px;
                    font-weight: bold;
                }

                .rooms {
                    .room {
                        cursor: pointer;
                        padding: 2px 0;
                        text-transform: capitalize;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }


            &.hasroom {
                box-shadow: 0 0 7px -1px rgba(51, 51, 51, 0.15);
                
                .roomselector {
                    display: none!important;
                }

                .image {
                    cursor: default;
                }

                .message {
                    
                    display: none!important;
                }
            }

            &.hasselectionprocess {
                .roomselector {
                    display: block;
                }
                .message {
                    display: none!important;
                }
            }

            .tip {
                border: 0;
                font-size: 10px;
                background: #1a8992;
                border-radius: 100%;
                width: 12px;
                height: 12px;
                padding: 0;
                margin-left: 5px;
                color: white;
            }

            

            .message {
                display: flex;       
                background: white;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                border-radius: 10px;
                text-align: center;
                font-size: 13px;
                padding: 20px;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: all 0.2s ease-in-out;
                pointer-events: none;
                font-weight: bold;
                max-height: 260px;
            }
            
            .image {
                min-height: 260px;
                cursor: pointer;
            }

            &:hover {
                opacity: 1;

                .message {
                    opacity: 0.6;
                    display: flex;
                }
                
            }


            .rw-widget-input {
                font-size: 12px;
            }
        }
    }

    &.rooms {
        .image {
            border-radius: 10px;
        }
    }

    .hasnumbers {
        .mark {
            display: block;
        }    
        
    }

  


    .sub {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 60px;
        flex-wrap: wrap;
        padding: 6px;

        .row {
            width: 100%;
            flex: 1 0 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 6px 6px;
            font-size: 14px;
            p {
                margin: 0;
                padding: 0;
                line-height: 15px;
            }

            .title {
                flex: 1 0 40%;
            }


            &.spoiler {
                display: flex;
                overflow: hidden;
                transition: opacity 0.3s ease-in-out;
                font-size: 13px;
            }
        }

        .rw-number-picker {
            max-width: 80px;
            .rw-widget-picker {
                min-height: 30px;
                grid-template: 1fr/1fr 2em;
            }
        }

        h4 {
            padding: 0px;
            font-size: 16px;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        }
    }

    .sqm {
        max-height: 30px;
        &.small {
            max-height: 20px;
            margin-right: 5px;
        }
    }
}


.inputs {
    &.noradio {
        display: flex;
        flex: 1 0 12%;
        justify-content: flex-end;

        label {
            font-size: 12px;
            line-height: 12px;
            background: #fff;
            padding: 2px 6px;
            border: 1px solid #1a8992;
            cursor: pointer;
        }

        input[ type="radio" ] {
            display: none;

            &:checked+label{  
                background-color: #1a8992; 
                color: white;
            } 

        }

        .smallicon {
            max-width: 20px;
            padding: 2px;
            margin-right: 4px;
            opacity: 0.6;
        }


        &>div:nth-child(2) label {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-right: 0;
        }

        &>div:last-child label {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-left: none;
        }



        &>div {
            
        }
    }
}